{% extends 'header.html' %}

{% block title %}Home – Redlight{% endblock %}

{% block content %}
<h1 class="mb-4 welcome-title text-center">Welcome, {{ user.name }}!</h1>

<div class="home-btn-wrapper">
    <a href="{{ url_for('events.list_events') }}" class="btn redlight-btn btn-home-left">View Events</a>
    <a href="{{ url_for('events.create_event') }}" class="btn redlight-btn btn-home-right">Create Event</a>
    <a href="{{ url_for('auth.profile') }}" class="btn redlight-btn btn-home-left">My Profile</a>
    <a href="{{ url_for('auth.logout') }}" class="btn redlight-btn btn-home-right" style="font-size: 0.9rem;">Logout</a>
</div>
{% endblock %}